@keyframes starmoving {
    0% {
        transform: translate(0px);
    }
    40% {
        transform: translate(-10px);
      }
    50% {
        transform: translate(-10px);
    }
    90% {
         transform: translate(0px);
    }
  }

  @keyframes rayanimation {
    0% {
        opacity: 1;
        filter: drop-shadow(30%);
    }
    40% {
        opacity: 0;
        filter: drop-shadow(0 0 30px);
      }
    50% {
        opacity: 0;
        filter: drop-shadow(0 0 30px);
    }
    90% {
        opacity: 1;
        filter: drop-shadow(0 0 30px);
    }
  }