@media (max-width: 728px) {
    body {
        width: 480px;
    }

    .desktop {
        width: 480px;
        overflow: hidden;
    }

    .hero-block {
        position: relative;
    }

    .hero-block__background {
        background-image: url("../assets/images/DB_mobile.png");
        background-repeat: no-repeat;
        position: relative;
        width: 480px;
        height: 822px;
    }

    .hero-block__background__stars {
        position: absolute;
        width: 480px;
        height: 822px;
        top: 5px;
        left: 50px;
        animation: starmoving 4s linear infinite;
    }

    @keyframes starmoving {
        0% {
            transform: translate(0px);
        }

        40% {
            transform: translate(-15px);
        }

        50% {
            transform: translate(-15px);
        }

        90% {
            transform: translate(0px);
        }
    }

    .hero-block__nav {
        position: relative;
        top: 20px;
        display: flex;
        color: white;
    }

        .hero-block__nav__hidemenu {
            display: block;
        }

        .hero-block__nav__hidemenu__line {
            width: 22px;
            border: 3px;
            height: 3px;
            background-color: white;
            margin: 6px 0;
        }

        .hero-block__main {
            width: 426.32px;
            height: 295.82px;
            top: 257.99px;
            left: 27.4px;
        }

        .hero-block__main__logo {
            position: relative;
            width: 63px;
            height: 63px;
        }

        .hero-block__main__logo:hover {
            transition: 1s;
            transform: rotateY(180deg) scale(1.5);
        }

        .hero-block__main__h1 {
            position: relative;
            width: 386px;
            font-family: $h1font;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #FFFFFF;
        }

        .hero-block__main__h3 {
            position: relative;
            width: 426px;
            height: 56px;
            font-family: $mainfont;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;

            text-align: center;

            color: rgba(255, 255, 255, 0.7);
        }

        .main-block {
            width: 480px;
            height: 990px;
            top: 800px;
        }

        .main-block__title {
            position: relative;
            width: 355px;
            height: 261px;
            padding-top: 50px;
            font-family: $h1font;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: center;
            color: #464547;
            font-family: Oswald;

        }

        .main-block__subtitle {
            position: relative;
            width: 426px;
            height: 57px;
            padding-top: 50px;
            font-family: $mainfont;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #666666;
        }

        .main-block__container {
            margin: 0 0px 0 0px;
            padding: 10px 10px 10px 30px;
            display: flex;
            flex-direction: column;
        }

        .main-block__container__box {
            flex: 1;
            width: 416px;
            height: 172px;
            border: 0px;
            margin: 10px;
            padding: 5px;
            box-sizing: border-box;
            font-family: $mainfont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            color: #666666;
        }

        .main--block__button {
            background: #55C2D8;
            border-radius: 18px;
            padding: 2px 10px;
            border: 0px;

        }

        .main--block__button:hover {
            transition: 1s;
            transform: rotate(15deg);
            transform-origin: 5% 30%;
        }

        .main--block__button__readmore {
            padding-left: 5px;
            padding-right: 5px;
            font-family: 'Oswald Regular';
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }



        .learnmore-block {
            width: 480px;
            height: 637px;
            background-image: url("../assets/images/DB2_mobile.png");
            background-repeat: no-repeat;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .learnmore-block__centerblock {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
        }

        .learnmore-block__centerblock__title {
            font-family: $h1font;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF
        }

        .learnmore-block__centerblock__button {
            display: flex;
            position: relative;
            border: 0px;
            font-family: 'Oswald Regular';
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            background-color: rgba(0, 0, 0, 0);
            justify-self: center;
            flex-wrap: wrap;
        }

        .learnmore-block__centerblock__button__bluecircle {
            width: 100px;
            height: 100px;
            background-color: #3498db;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: #ffffff;
        }

        .learnmore-block__centerblock__button__bluecircle:hover {
            transition: 1s;
            transform: scale(0.90);
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: #3498db;
        }

        .learnmore-block__centerblock__maintext {
            width: 351px;
            height: 97px;
            font-family: $mainfont;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;

        }

        .footer {
            display: flex;
            width: 480px;
            height: 292px;
            background-color: #464547;

        }

        .grid-container {
            width: 480px;
            height: 292px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 0px;
            background-color: #464547;
            font-family: $mainfont;
            color: grey;
            justify-items: center;
        }

        .grid-item {
            position: relative;
            bottom: 100px;
            padding: 0px;
            box-sizing: content-box;
            text-align: left;
            vertical-align: text-top;
        }

        .footer_logo {
            display: grid;
            grid-template-columns: auto 1fr;
            /* Two columns, first is auto-sized for the image */
            gap: 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 0.2em;
            color: white;
        }

        .address {
            font-family: $mainfont;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
        }
    }