@import "variables";
@import "animation";

body {

    .desktop {
        margin: 0 auto;
        width: 1200px;
        height: 2336px;

    }


    .hero-block {
        position: relative;
    }

    .hero-block__background {
        background-image: url("TBG.png");
        background-repeat: no-repeat;
        position: relative;
        width: 1200px;
        height: 822px;
        overflow: hidden;

    }

    .hero-block__background__stars {
        position: absolute;
        width: 737.05px;
        height: 664.89px;
        top: 13.13px;
        left: 423.13px;
        animation: starmoving 4s linear infinite;
    }

    .hero-block__backgound__rays {
        position: absolute;
        width: 737.05px;
        height: 664.89px;
        top: 65px;
        left: 730px;
        animation: rayanimation 4s linear infinite;
    }

    .hero-block__nav {
        position: relative;
        top: 20px;
        display: flex;
        color: white;
        justify-content: center;
    }

    .hero-block__nav__logo {
        display: flex;
        font-family: system;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.1em;
        align-items: center;
    }

    .hero-block__nav__ul {
        display: flex;
        position: relative;
        right: 150px;
        font-family: $mainfont;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-align: center;

    }

    .hero-block__navlist {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .hero-block__navlist__items {
        margin: 0 20pt;
        list-style-type: none;
    }


    .hero-block__main {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 426px;
        height: 292px;
        top: 252px;
        left: 387px;

    }

    .hero-block__main__logo {
        position: relative;
        width: 63px;
        height: 63px;
        transition: 1s;
    }

    .hero-block__main__logo:hover {
        transition: 1s;
        transform: rotateY(180deg) scale(1.5);
    }

    .hero-block__main__h1 {
        position: relative;
        width: 386px;
        font-family: $h1font;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }

    .hero-block__main__h3 {
        position: relative;
        width: 426px;
        height: 56px;
        font-family: $mainfont;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
    }

    .main-block {
        display: flex;
        flex-direction: column;
        width: 1200px;
        height: 700px;
        justify-content: center;
        align-items: center;
    }

    .main-block__title {
        margin: 0 auto;
        padding-top: 50px;
        font-family: $h1font;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #464547;
    }

    .main-block__subtitle {
        padding-top: 50px;
        font-family: $mainfont;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #666666;
    }

    .main-block__container {
        margin: 0 145px 0 145px;
        padding: 0;
        display: flex;
        flex-direction: row;

    }

    .main-block__container__box {
        flex: 1;
        width: 416px;
        border: 0px;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
        font-family: $mainfont;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #666666;
    }

    .main--block__button {
        background: #55C2D8;
        border-radius: 18px;
        padding: 2px 10px;
        border: 0px;

    }


    .main--block__button:hover {
        transition: 1s;
        transform: rotate(15deg);
        transform-origin: 5% 30%;
    }

    .main--block__button__readmore {
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Oswald Regular';
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .learnmore-block {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 1200px;
        height: 637px;
        background-image: url("../assets/images/DB2.png");
        background-repeat: no-repeat;
    }

    .learnmore-block__centerblock {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .learnmore-block__centerblock__title {
        font-family: $h1font;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF
    }

    .learnmore-block__centerblock__button {
        display: flex;
        width: 500px;
        position: relative;
        left: 35%;
        border: 0px;
        font-family: 'Oswald Regular';
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;
        background-color: rgba(0, 0, 0, 0);
        justify-self: center;
        flex-wrap: wrap;
    }

    .learnmore-block__centerblock__button__bluecircle {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: #ffffff;
    }

    .learnmore-block__centerblock__button__bluecircle:hover {
        transition: 1s;
        transform: scale(0.90);
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: #3498db;
    }


    .learnmore-block__centerblock__maintext {
        display: flex;
        width: 351px;
        font-family: $mainfont;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .footer-block {
        width: 1200px;
        height: 199px;
        background-color: #464547;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: auto;
        gap: 10px;
        background-color: #464547;
        font-family: $mainfont;
        vertical-align: text-top;
        color: grey;

    }

    // .grid-container {
    //     display: grid;
    //     grid-template-columns: repeat(7, auto);
    //     grid-template-rows: auto;
    //     gap: 10px;
    //     background-color: #464547;
    //     font-family: $mainfont;
    //     vertical-align: text-top;
    //     color: grey;
    // }

    .footer-block__grid-item {
        padding: 20px;
        box-sizing: content-box;
        text-align: left;
        vertical-align: text-top;
    }

    .footer-block__grid-item__logo {
        display: grid;
        grid-template-columns: auto 1fr;
        /* Two columns, first is auto-sized for the image */
        gap: 10px;
        /* Adjust the gap between columns */
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.2em;
        color: white;
    }

    .footer-block__grid-item__address {
        font-family: $mainfont;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

    @media (max-width: 728px) {
        @import "media";
    }
}