@keyframes starmoving {
  0% {
    transform: translate(0px);
  }
  40% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(-10px);
  }
  90% {
    transform: translate(0px);
  }
}
@keyframes rayanimation {
  0% {
    opacity: 1;
    filter: drop-shadow(30%);
  }
  40% {
    opacity: 0;
    filter: drop-shadow(0 0 30px);
  }
  50% {
    opacity: 0;
    filter: drop-shadow(0 0 30px);
  }
  90% {
    opacity: 1;
    filter: drop-shadow(0 0 30px);
  }
}
body .desktop {
  margin: 0 auto;
  width: 1200px;
  height: 2336px;
}
body .hero-block {
  position: relative;
}
body .hero-block__background {
  background-image: url("TBG.png");
  background-repeat: no-repeat;
  position: relative;
  width: 1200px;
  height: 822px;
  overflow: hidden;
}
body .hero-block__background__stars {
  position: absolute;
  width: 737.05px;
  height: 664.89px;
  top: 13.13px;
  left: 423.13px;
  animation: starmoving 4s linear infinite;
}
body .hero-block__backgound__rays {
  position: absolute;
  width: 737.05px;
  height: 664.89px;
  top: 65px;
  left: 730px;
  animation: rayanimation 4s linear infinite;
}
body .hero-block__nav {
  position: relative;
  top: 20px;
  display: flex;
  color: white;
  justify-content: center;
}
body .hero-block__nav__logo {
  display: flex;
  font-family: system;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  align-items: center;
}
body .hero-block__nav__ul {
  display: flex;
  position: relative;
  right: 150px;
  font-family: system;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
}
body .hero-block__navlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .hero-block__navlist__items {
  margin: 0 20pt;
  list-style-type: none;
}
body .hero-block__main {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 426px;
  height: 292px;
  top: 252px;
  left: 387px;
}
body .hero-block__main__logo {
  position: relative;
  width: 63px;
  height: 63px;
  transition: 1s;
}
body .hero-block__main__logo:hover {
  transition: 1s;
  transform: rotateY(180deg) scale(1.5);
}
body .hero-block__main__h1 {
  position: relative;
  width: 386px;
  font-family: system-ui;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}
body .hero-block__main__h3 {
  position: relative;
  width: 426px;
  height: 56px;
  font-family: system;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
body .main-block {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
}
body .main-block__title {
  margin: 0 auto;
  padding-top: 50px;
  font-family: system-ui;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
body .main-block__subtitle {
  padding-top: 50px;
  font-family: system;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
body .main-block__container {
  margin: 0 145px 0 145px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
body .main-block__container__box {
  flex: 1;
  width: 416px;
  border: 0px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: system;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
}
body .main--block__button {
  background: #55C2D8;
  border-radius: 18px;
  padding: 2px 10px;
  border: 0px;
}
body .main--block__button:hover {
  transition: 1s;
  transform: rotate(15deg);
  transform-origin: 5% 30%;
}
body .main--block__button__readmore {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Oswald Regular";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
body .learnmore-block {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 637px;
  background-image: url("../assets/images/DB2.png");
  background-repeat: no-repeat;
}
body .learnmore-block__centerblock {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .learnmore-block__centerblock__title {
  font-family: system-ui;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
body .learnmore-block__centerblock__button {
  display: flex;
  width: 500px;
  position: relative;
  left: 35%;
  border: 0px;
  font-family: "Oswald Regular";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0);
  justify-self: center;
  flex-wrap: wrap;
}
body .learnmore-block__centerblock__button__bluecircle {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
}
body .learnmore-block__centerblock__button__bluecircle:hover {
  transition: 1s;
  transform: scale(0.9);
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #3498db;
}
body .learnmore-block__centerblock__maintext {
  display: flex;
  width: 351px;
  font-family: system;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
body .footer-block {
  width: 1200px;
  height: 199px;
  background-color: #464547;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto;
  gap: 10px;
  background-color: #464547;
  font-family: system;
  vertical-align: text-top;
  color: grey;
}
body .footer-block__grid-item {
  padding: 20px;
  box-sizing: content-box;
  text-align: left;
  vertical-align: text-top;
}
body .footer-block__grid-item__logo {
  display: grid;
  grid-template-columns: auto 1fr;
  /* Two columns, first is auto-sized for the image */
  gap: 10px;
  /* Adjust the gap between columns */
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.2em;
  color: white;
}
body .footer-block__grid-item__address {
  font-family: system;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 728px) and (max-width: 728px) {
  body body {
    width: 480px;
  }
  body .desktop {
    width: 480px;
    overflow: hidden;
  }
  body .hero-block {
    position: relative;
  }
  body .hero-block__background {
    background-image: url("../assets/images/DB_mobile.png");
    background-repeat: no-repeat;
    position: relative;
    width: 480px;
    height: 822px;
  }
  body .hero-block__background__stars {
    position: absolute;
    width: 480px;
    height: 822px;
    top: 5px;
    left: 50px;
    animation: starmoving 4s linear infinite;
  }
  @keyframes starmoving {
    0% {
      transform: translate(0px);
    }
    40% {
      transform: translate(-15px);
    }
    50% {
      transform: translate(-15px);
    }
    90% {
      transform: translate(0px);
    }
  }
  body .hero-block__nav {
    position: relative;
    top: 20px;
    display: flex;
    color: white;
  }
  body .hero-block__nav__hidemenu {
    display: block;
  }
  body .hero-block__nav__hidemenu__line {
    width: 22px;
    border: 3px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  body .hero-block__main {
    width: 426.32px;
    height: 295.82px;
    top: 257.99px;
    left: 27.4px;
  }
  body .hero-block__main__logo {
    position: relative;
    width: 63px;
    height: 63px;
  }
  body .hero-block__main__logo:hover {
    transition: 1s;
    transform: rotateY(180deg) scale(1.5);
  }
  body .hero-block__main__h1 {
    position: relative;
    width: 386px;
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
  }
  body .hero-block__main__h3 {
    position: relative;
    width: 426px;
    height: 56px;
    font-family: system;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  body .main-block {
    width: 480px;
    height: 990px;
    top: 800px;
  }
  body .main-block__title {
    position: relative;
    width: 355px;
    height: 261px;
    padding-top: 50px;
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #464547;
    font-family: Oswald;
  }
  body .main-block__subtitle {
    position: relative;
    width: 426px;
    height: 57px;
    padding-top: 50px;
    font-family: system;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
  }
  body .main-block__container {
    margin: 0 0px 0 0px;
    padding: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
  }
  body .main-block__container__box {
    flex: 1;
    width: 416px;
    height: 172px;
    border: 0px;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-family: system;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #666666;
  }
  body .main--block__button {
    background: #55C2D8;
    border-radius: 18px;
    padding: 2px 10px;
    border: 0px;
  }
  body .main--block__button:hover {
    transition: 1s;
    transform: rotate(15deg);
    transform-origin: 5% 30%;
  }
  body .main--block__button__readmore {
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Oswald Regular";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
  body .learnmore-block {
    width: 480px;
    height: 637px;
    background-image: url("../assets/images/DB2_mobile.png");
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .learnmore-block__centerblock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  body .learnmore-block__centerblock__title {
    font-family: system-ui;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  body .learnmore-block__centerblock__button {
    display: flex;
    position: relative;
    border: 0px;
    font-family: "Oswald Regular";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0);
    justify-self: center;
    flex-wrap: wrap;
  }
  body .learnmore-block__centerblock__button__bluecircle {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #ffffff;
  }
  body .learnmore-block__centerblock__button__bluecircle:hover {
    transition: 1s;
    transform: scale(0.9);
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #3498db;
  }
  body .learnmore-block__centerblock__maintext {
    width: 351px;
    height: 97px;
    font-family: system;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  body .footer {
    display: flex;
    width: 480px;
    height: 292px;
    background-color: #464547;
  }
  body .grid-container {
    width: 480px;
    height: 292px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    background-color: #464547;
    font-family: system;
    color: grey;
    justify-items: center;
  }
  body .grid-item {
    position: relative;
    bottom: 100px;
    padding: 0px;
    box-sizing: content-box;
    text-align: left;
    vertical-align: text-top;
  }
  body .footer_logo {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Two columns, first is auto-sized for the image */
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.2em;
    color: white;
  }
  body .address {
    font-family: system;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */